body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
h2 {
    margin: 0 0 15px;
    color: #333;
    text-align: center;
}
.bottom
{
    margin: 0 0 15px;
    color: #333;
    text-align: center;
}
.input-group {
    display: flex;
    flex-direction: column;
}
.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px;
    border: none;
    background-color: #d8d813;
    color: #000000;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #9b206e;
}
/* Header hiển thị tên người dùng và nút logout */
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Nút logout */
.logout-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.logout-btn:hover {
    background-color: darkred;
}

/* Textarea nhập bài viết */
textarea {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
}

/* Khối hiển thị bài viết */
.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    background-color: #fdfdfd;
}
.post small {
    color: #555;
}
